.header {
	@apply sticky top-0 z-30 w-full border-b border-light-grey bg-white text-purple;
	@apply px-4 py-2;
}

.navbar {
	@apply flex flex-row items-center justify-between;
}

.header .custom-logo-link {
	@apply lg:-order-1;
}

.header .custom-logo {
	@apply mx-auto w-28 h-10;
}

nav.navbar-menu ul li {
    @apply inline-block px-4;
}

nav.navbar-menu#langs-navigation ul li {
	@apply px-0;
}

nav.navbar-menu a {
    @apply flex flex-row items-center my-2 transition-colors duration-200;
}

nav.navbar-menu ul ul li a:focus,
nav.navbar-menu ul ul li a:active {
    @apply text-yellow;
}
nav.navbar-menu a:hover,
nav.navbar-menu a:focus,
nav.navbar-menu a:active,
nav.navbar-menu a:focus:hover,
nav.navbar-menu a:active:hover {
    @apply text-yellow;
}

nav.navbar-menu ul ul {
    @apply hidden absolute origin-top-right bg-background shadow;
}
nav.navbar-menu ul ul li {
	@apply relative list-item;
}

nav.navbar-menu ul li:focus > ul,
nav.navbar-menu ul li:active > ul,
nav.navbar-menu ul li:focus > div.wpml-ls > ul,
nav.navbar-menu ul li:active > div.wpml-ls > ul {
    display: inherit;
}

nav.navbar-menu ul li.menu-item-has-children > a::after,
nav.navbar-menu#langs-navigation > ul > li > a::after {
	content: "";
	@apply h-4 w-4 bg-purple transform transition-transform duration-200;
	clip-path: path("M5.293 7.293a1 1 0 0 1 1.414 0L10 10.586l3.293-3.293a1 1 0 1 1 1.414 1.414l-4 4a1 1 0 0 1-1.414 0l-4-4a1 1 0 0 1 0-1.414z");
	/* background-image: url("data:image/svg+xml,%3Csvg fill='currentColor' viewBox='0 0 20 20'%3E%3Cpath fill-rule='evenodd' d='M5.293 7.293a1 1 0 0 1 1.414 0L10 10.586l3.293-3.293a1 1 0 1 1 1.414 1.414l-4 4a1 1 0 0 1-1.414 0l-4-4a1 1 0 0 1 0-1.414z' clip-rule='evenodd'/%3E%3C/svg%3E"); */
}

nav.navbar-menu#langs-navigation > ul > li > a:focus::after,
nav.navbar-menu#langs-navigation > ul > li > a:active::after {
    @apply rotate-180 bg-yellow;
}

nav.navbar-menu a:focus + ul,
nav.navbar-menu a:active + ul,
nav.navbar-menu a:focus + div.wpml-ls > ul,
nav.navbar-menu a:active + div.wpml-ls ul {
    display: inherit;
}