h1.is-style-hexagone-left-decorum-heading,
h2.is-style-hexagone-left-decorum-heading,
h3.is-style-hexagone-left-decorum-heading,
h4.is-style-hexagone-left-decorum-heading,
h5.is-style-hexagone-left-decorum-heading,
h6.is-style-hexagone-left-decorum-heading,
h1.is-style-hexagone-right-decorum-heading,
h2.is-style-hexagone-right-decorum-heading,
h3.is-style-hexagone-right-decorum-heading,
h4.is-style-hexagone-right-decorum-heading,
h5.is-style-hexagone-right-decorum-heading,
h6.is-style-hexagone-right-decorum-heading {
    @apply relative inline-block z-0;
    @apply before:absolute before:inline-block before:-z-[1] before:h-[1em] before:aspect-2 before:-translate-y-[40%] before:bg-center before:bg-no-repeat before:content-[''];
}

.is-style-hexagone-left-decorum-heading,
.is-style-hexagone-right-decorum-heading,
.is-style-hexagone-center-decorum-heading {
    @apply text-purple mt-[1em];
}

.is-style-hexagone-left-decorum-heading::before,
.is-style-hexagone-right-decorum-heading::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 203.1 100.68'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23ffd200;%7D.cls-1,.cls-2%7Bfill-rule:evenodd;%7D.cls-2%7Bfill:%23310046;%7D%3C/style%3E%3C/defs%3E%3Cg %3E%3Cg %3E%3Cpath class='cls-1' d='M137.05,29.7,101.35,9.1a4.78,4.78,0,0,0-4.9,0l-8,4.6-15.7,9.1-12,6.9a4.91,4.91,0,0,0-2.4,4.2V75.2a4.79,4.79,0,0,0,2.4,4.2L96.45,100a4.78,4.78,0,0,0,4.9,0l35.7-20.6a4.91,4.91,0,0,0,2.4-4.2V34a4.38,4.38,0,0,0-2.4-4.3'/%3E%3C/g%3E%3C/g%3E%3Cg %3E%3Cpath class='cls-1' d='M15.25,81.6V73.3a2.3,2.3,0,0,0-4.6,0v8.3H2.35a2.3,2.3,0,0,0,0,4.6h8.3v8.3a2.3,2.3,0,0,0,4.6,0V86.2h8.3a2.3,2.3,0,0,0,0-4.6Z'/%3E%3Cpath class='cls-2' d='M197.65,29.3V25.1a1.2,1.2,0,0,0-2.4,0v4.2h-4.2a1.2,1.2,0,1,0,0,2.4h4.2v4.2a1.2,1.2,0,0,0,2.4,0V31.7h4.2a1.2,1.2,0,0,0,0-2.4Z'/%3E%3Cpath class='cls-2' d='M26.05,7V1.5a1.5,1.5,0,0,0-3,0V7h-5.5a1.5,1.5,0,0,0,0,3h5.5v5.5a1.5,1.5,0,0,0,3,0V10h5.4a1.5,1.5,0,1,0,0-3Z'/%3E%3C/g%3E%3C/svg%3E");
}

.has-yellow-background-color .is-style-hexagone-left-decorum-heading::before,
.has-yellow-background-color .is-style-hexagone-right-decorum-heading::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 203.1 100.68'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23fff;%7D.cls-1,.cls-2%7Bfill-rule:evenodd;%7D.cls-2%7Bfill:%23310046;%7D%3C/style%3E%3C/defs%3E%3Cg %3E%3Cg %3E%3Cpath class='cls-1' d='M137.1,29.7,101.3,9.1a4.78,4.78,0,0,0-4.9,0l-8,4.6L72.7,22.8l-12,6.9a4.91,4.91,0,0,0-2.4,4.2V75.2a4.79,4.79,0,0,0,2.4,4.2L96.4,100a4.78,4.78,0,0,0,4.9,0L137,79.4a4.91,4.91,0,0,0,2.4-4.2V33.9a4.61,4.61,0,0,0-2.3-4.2'/%3E%3C/g%3E%3C/g%3E%3Cg %3E%3Cpath class='cls-1' d='M15.2,81.6V73.3a2.3,2.3,0,0,0-4.6,0v8.3H2.3a2.3,2.3,0,0,0,0,4.6h8.3v8.3a2.3,2.3,0,0,0,4.6,0V86.2h8.3a2.3,2.3,0,0,0,0-4.6Z'/%3E%3Cpath class='cls-2' d='M197.7,29.3V25.1a1.2,1.2,0,1,0-2.4,0v4.2h-4.2a1.2,1.2,0,1,0,0,2.4h4.2v4.2a1.2,1.2,0,1,0,2.4,0V31.7h4.2a1.2,1.2,0,0,0,0-2.4Z'/%3E%3Cpath class='cls-2' d='M26,7V1.5a1.5,1.5,0,0,0-3,0V7H17.5a1.5,1.5,0,0,0,0,3H23v5.5a1.5,1.5,0,0,0,3,0V10h5.4a1.54,1.54,0,0,0,1.5-1.5A1.39,1.39,0,0,0,31.5,7Z'/%3E%3C/g%3E%3C/svg%3E");
}

h1.is-style-hexagone-left-decorum-heading,
h2.is-style-hexagone-left-decorum-heading,
h3.is-style-hexagone-left-decorum-heading,
h4.is-style-hexagone-left-decorum-heading,
h5.is-style-hexagone-left-decorum-heading,
h6.is-style-hexagone-left-decorum-heading {
    @apply before:-translate-x-1/2 before:rtl:translate-x-1/2;
}

h1.is-style-hexagone-right-decorum-heading,
h2.is-style-hexagone-right-decorum-heading,
h3.is-style-hexagone-right-decorum-heading,
h4.is-style-hexagone-right-decorum-heading,
h5.is-style-hexagone-right-decorum-heading,
h6.is-style-hexagone-right-decorum-heading {
    @apply before:-scale-x-100 before:right-0 before:rtl:left-0 before:translate-x-1/2 before:rtl:-translate-x-1/2;
}

h1.is-style-hexagone-center-decorum-heading,
h2.is-style-hexagone-center-decorum-heading,
h3.is-style-hexagone-center-decorum-heading,
h4.is-style-hexagone-center-decorum-heading,
h5.is-style-hexagone-center-decorum-heading,
h6.is-style-hexagone-center-decorum-heading {
    @apply relative z-0;
    @apply before:absolute before:inline-block before:-z-[1] before:bottom-1/4 before:left-1/2 before:w-[3.5em] before:aspect-[8/5] before:-translate-x-[48.5%] before:bg-center before:bg-no-repeat before:content-[''];
}

.is-style-hexagone-center-decorum-heading::before{
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 203.1 100.68'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23ffd200%3B%7D.cls-1 .cls-2%7Bfill-rule:evenodd%3B%7D.cls-2%7Bfill:%23310046%3B%7D%3C/style%3E%3C/defs%3E%3Cpath class='cls-1' d='M137.05 29.7 101.35 9.1a4.78 4.78 0 0 0-4.9 0l-8 4.6-15.7 9.1-12 6.9a4.91 4.91 0 0 0-2.4 4.2V75.2a4.79 4.79 0 0 0 2.4 4.2L96.45 100a4.78 4.78 0 0 0 4.9 0l35.7-20.6a4.91 4.91 0 0 0 2.4-4.2V34a4.38 4.38 0 0 0-2.4-4.3'/%3E%3Cpath class='cls-1' d='M15.25 81.6V73.3a2.3 2.3 0 0 0-4.6 0v8.3H2.35a2.3 2.3 0 0 0 0 4.6h8.3v8.3a2.3 2.3 0 0 0 4.6 0V86.2h8.3a2.3 2.3 0 0 0 0-4.6Z'/%3E%3Cpath class='cls-2' d='M197.65 29.3V25.1a1.2 1.2 0 0 0-2.4 0v4.2h-4.2a1.2 1.2 0 1 0 0 2.4h4.2v4.2a1.2 1.2 0 0 0 2.4 0V31.7h4.2a1.2 1.2 0 0 0 0-2.4Z'/%3E%3Cpath class='cls-2' d='M26.05 7V1.5a1.5 1.5 0 0 0-3 0V7h-5.5a1.5 1.5 0 0 0 0 3h5.5v5.5a1.5 1.5 0 0 0 3 0V10h5.4a1.5 1.5 0 1 0 0-3Z'/%3E%3C/svg%3E");
}

.has-yellow-background-color .is-style-hexagone-center-decorum-heading::before{
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 203.1 100.68'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23fff%3B%7D.cls-1 .cls-2%7Bfill-rule:evenodd%3B%7D.cls-2%7Bfill:%23310046%3B%7D%3C/style%3E%3C/defs%3E%3Cpath class='cls-1' d='M137.05 29.7 101.35 9.1a4.78 4.78 0 0 0-4.9 0l-8 4.6-15.7 9.1-12 6.9a4.91 4.91 0 0 0-2.4 4.2V75.2a4.79 4.79 0 0 0 2.4 4.2L96.45 100a4.78 4.78 0 0 0 4.9 0l35.7-20.6a4.91 4.91 0 0 0 2.4-4.2V34a4.38 4.38 0 0 0-2.4-4.3'/%3E%3Cpath class='cls-1' d='M15.25 81.6V73.3a2.3 2.3 0 0 0-4.6 0v8.3H2.35a2.3 2.3 0 0 0 0 4.6h8.3v8.3a2.3 2.3 0 0 0 4.6 0V86.2h8.3a2.3 2.3 0 0 0 0-4.6Z'/%3E%3Cpath class='cls-2' d='M197.65 29.3V25.1a1.2 1.2 0 0 0-2.4 0v4.2h-4.2a1.2 1.2 0 1 0 0 2.4h4.2v4.2a1.2 1.2 0 0 0 2.4 0V31.7h4.2a1.2 1.2 0 0 0 0-2.4Z'/%3E%3Cpath class='cls-2' d='M26.05 7V1.5a1.5 1.5 0 0 0-3 0V7h-5.5a1.5 1.5 0 0 0 0 3h5.5v5.5a1.5 1.5 0 0 0 3 0V10h5.4a1.5 1.5 0 1 0 0-3Z'/%3E%3C/svg%3E");
}